@font-face {
    font-family: 'ConsolasRegular';
    src: url('../fonts/Consolas/consola.eot');
    src: url('../fonts/Consolas/consola.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Consolas/consola.woff') format('woff'),
         url('../fonts/Consolas/consola.ttf') format('truetype'),
         url('../fonts/Consolas/consola.svg#consolasregular') format('svg');
}
